/*** 그리드 관련 css ***/
.gird-container {
    display: grid;
    grid-template-columns: minmax(195px, 20%) 65% minmax(145px, 15%);
    grid-template-rows: 90px 90px 68px minmax(500px, auto) 100px;
    place-items: stretch stretch;
}

.grid-banner {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-image: url("../images/poms/poms_main_banner.gif");
    background-repeat: no-repeat;
    /*배너 크기 안맞아서 임시 위치 지정. 배너 이미지 바뀌면 해당 코드 삭제*/
    background-position: left 50% top 52%;
    background-size: 1080px 1080px;
    background-color: #000;
}

.grid-header {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: inline-block;
    vertical-align: middle;
}

.grid-menu {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding: 10px 20px;
}

.grid-sidebar-a {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.grid-main {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.grid-sidebar-b {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.grid-footer {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

/*** 공통 css ***/
body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

a :link, a:visited, a:hover, a:active {
    color: #000;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*** 헤더 (.grid-header) css ***/
.header-div__01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poms-logo-div {
    width: 176px;
    height: 64px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.header-div__02 {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: relative;
    bottom: 64px;
    left: 0;
}

.search-input {
    width: 400px;
    height: 40px;
    padding: 0;
    border-width: 0 0 1px;
    border-color: #000;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{   /* search input 취소 버튼 없애기 */
    display:none;
}

input:focus {outline: none;} /* 테두리 없애기 */

.header-div__02 span::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icon/search.png") no-repeat center / 100%;
    position: relative;
    top: 10px;
    right: 35px;
}

.user-bar-div {
    width: 256px;
    height: 90px;
    background-color: coral;
}

/*** 카테고리,퀵메뉴 (.grid-menu) css ***/
.category {
    display: flex;
}

.category__box {
    display: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 300px;
    position: relative;
    top: 239px;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}

.category__button {
    z-index: 5554;
    box-sizing: border-box;
    width: 170px;
    height: 50px;
    line-height: 0px;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}

.category__button span::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../images/icon/small-down-angle.png") no-repeat center / 100%;
    position: relative;
    top: 10px;
    left: 20px;
}

.category__button:hover ~ .category__box,
.category__box:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5555;
}

.category__button:hover .category__div-women {
    display: block;
}

div[class^="category__div"] {
    width: 100%;
    height: 400px;
    position: relative;
    left: 120px;
    bottom: 28px;
}

.category__div-women {
    display: block;
}

.category__a-gender--men {
    position: absolute;
    top: 40px;
    height: 85%;
}

.category__div-men {
    display: none;
    z-index: 888888;
}

a[class^="category__a-gender"] {
    z-index: 999999;
    width: 100px;
    padding: 20px 0 0 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

a[class^="category__a-gender"] span {
    display: none;
    margin-left: 50px;
    font-size: 12px;
    color: #333333;
}

a[class^="category__a-gender"]:hover > span { /* 마우스오버시 화살표 노출 */
    display: inline-block;
}

ul[class^="category__ul-depth01"] {
    display: flex;
    margin: 0;
    padding: 0;
}

ul[class^="category__ul-depth01"] > li > a {
    padding: 5px 20px;
}

ul[class^="category__ul-depth01"] > li { /* 해당 ul 요소 바로 아래에 위치하는 모든 li요소 */
    width: 100px;
    position: relative;
    bottom: 5px;
    margin-top: 10px;
    padding: 0 10px;
    height: inherit;
    float: left;
    font-size: 16px;
    font-weight: 400;
    border-left: 1px solid #e9e9e9;
}

ul[class^="category__ul-depth01"] > li > ul > li {
    width: 100%;
    padding: 3px 30px;
    position: relative;
    right: 50px;
    font-size: 14px;
    color: #7b7b7b;
}

ul[class^="category__ul-depth01"] > li > ul > li:hover {
    color: #000;
}

/* 퀵 메뉴바 css */
.quick-menu-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
}

.quick-menu-ul {
    width: auto;
    text-align: center;
}

.quick-menu-ul {
    display: flex;
    padding: 0;
    font-weight: 600;
}

.quick-menu-ul li {
    margin: 0 20px;
}



