
/* 그리드 관련 css */
.gird-container {
    display: grid;
    grid-template-columns: minmax(195px, 20%) 65% minmax(145px, 15%);
    grid-template-rows: 90px 100px 80px minmax(500px, auto) 100px;
    place-items: stretch stretch;
}
.grid-banner {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-image: url("/images/poms/poms_main_banner.gif");
    background-repeat: no-repeat;
    /*배너 크기 안맞아서 임시 위치 지정. 배너 이미지 바뀌면 해당 코드 삭제*/
    background-position: left 50% top 52%;
    background-size: 1080px 1080px;
    background-color: #000;
}
.grid-header {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #666;
}
.grid-menu {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: lightgoldenrodyellow;
}
.grid-sidebar-a {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.grid-main {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.grid-sidebar-b {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.grid-footer {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

/* 공통 css */
body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

a :link, a:visited, a:hover, a:active {
    color : #000;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* 카테고리 css */
.category__box {
    display: none;
    margin: 0;
    padding: 0 20px;
    width: 100vw;
    height: 300px;
    background-color: pink;
}

.category__button:hover ~.category__box,
.category__box:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5555;
}

div[class^="category__div"] {
    position: relative;
    left: 100px;
    bottom: 31px;
}

.category__div-women {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: goldenrod;
}

.category__a-gender--men {
    position: absolute;
    top: 40px;
}

.category__div-men {
    display: none;
    z-index: 888888;
    background-color: deepskyblue;
}

a[class^="category__a-gender"] {
    z-index: 999999;
    width: 100px;
    height: 30px;
    padding: 5px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

a[class^="category__a-gender"] span {
    display: none;
    margin-left: 50px;
    font-size: 12px;
    color: #333333;
}

a[class^="category__a-gender"]:hover > span { /* 마우스오버시 화살표 노출 */
    display:inline-block;
}

a[class^="category__a-gender"] ~ div { /* "category__a-gender"로 시작하는 a를 뒤따르는 모든 div */
    width: 100vw;
    height: 300px;
}

.category li{
    width: auto;
    height: auto;
}

ul[class^="category__ul-depth01"] {
    margin: 0;
    padding: 0;
}

ul[class^="category__ul-depth01"] > li { /* 해당 ul 요소 바로 아래에 위치하는 모든 li요소 */
    float: left;
    background-color: blueviolet;
}



