<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/default-layout}">
<head>
	<title>POMS 메인</title>
</head>
<th:block layout:fragment="custom-js">
<script type="text/javascript">
	$(function() {
		//상품 전체 리스트 조회
		cinit_list('/product/list');


		//cfn_ajaxRequest();
		let imagePaths = [
			"/images/poms/product/SOLEW_01.jpg",
			"/images/poms/product/SOLEW_02.jpg",
			"/images/poms/product/SOLEW_03.jpg",
			"/images/poms/product/SOLEW_04.jpg",
			"/images/poms/product/SOLEW_05.jpg",
			"/images/poms/product/SOLEW_06.jpg",
			"/images/poms/product/SOLEW_JP_01.jpg",
			"/images/poms/product/SOLEW_JP_02.jpg",
			"/images/poms/product/SOLEW_JP_03.jpg",
			"/images/poms/product/SOLEW_JP_04.jpg"
		];

		for (let i = 0; i < imagePaths.length; i++) {
			//이미지 그리드에 이미지 6개씩 담을 row 생성
			if (i === 0 || (i+1)%6 === 0) {
				$('#imageGrid').append('<div class="row" id="row_'+ Math.trunc(((i+1)/6)+1) +'"></div>');
			}

			//row에 이미지 출력
			let rowNumber;
			(i+1)/6 === 1? rowNumber = Math.trunc(((i+1)/6)) : rowNumber = Math.trunc(((i+1)/6)+1);

			$('#row_'+ rowNumber ).append('<div class="productContainer"><img src="' + imagePaths[i] + '"></div>');
		}
	});

	//상세 페이지 이동 함수
	function go_viewForm(idx){
		location.href = '/product/view-form?productIdx='+idx;
	}
</script>
<style>
	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.productContainer {
		width: 13vw; /* 한 줄에 6개씩 출력하기 위해 너비를 조절합니다. */
		margin: 10px;
		box-sizing: border-box; /* 가로 여백이 너비를 초과하지 않도록 설정합니다. */
	}

	.productContainer img {
		border: 1px solid #c6c6c6;
		width: 100%;
		height: auto;
	}
</style>
</th:block>
<body>
<th:block layout:fragment="main-content">
	<form class="product_form" id="searchForm">
		<input type="hidden" name="productIdx" id="productIdx">
		<!--
		<input type="hidden" name="pageNum" id="pageNum" th:value="${searchForm.pageNum}">
		<input type="hidden" name="dataCnt" id="dataCnt" th:value="${searchForm.dataCnt}">
		-->
	</form>

	<div id="imageGrid"></div>
	<h2>메인화면</h2>
	<tr th:each="product : ${productList}">
		<span th:text="|상품명: ${product.name}|" th:onclick="go_viewForm([[${product.productIdx}]])">name</span>
		<p th:each="productImage : ${product.productImageList}"><span th:text="${productImageStat.index}+1"></span><span th:text="${productImage.filePath}">filePath</span></p>
	</tr>
	<div class="form-control">
		<label for="id">아이디</label>
		<div th:text="${id}"></div>
		<div th:text="${role}"></div>
		<input type="text" id="id" name="id" required>
	</div>
</th:block>
</body>
</html>